@CHARSET "UTF-8";

.adspot_wrapper {
	position: relative;
	margin:0px;
	float: none;
	padding:0px;
	display:inline-block;
}

.adspot_btn_add_dot,.adspot_btn_logo,.adspot_icon_product,.adspot_icon_link,.adspot_layer_info,.adspot_icon_space,.adspot_search_btn
	{
	position: absolute;
}

.adspot_icon_space,.adspot_icon_product,.adspot_icon_link,.adspot_btn_add_dot a,.adspot_search_btn {
	width: 26px;
	height: 26px;
	background: url(res/sprite.png) left top no-repeat;
	display: block;
}

.adspot_btn_add_dot a {
	background-position: 0px top;
	text-indent: -2000em;
	margin-left: 7px;
	cursor: pointer;
}

.adspot_btn_logo {
	right: 0px;
	top: 0px;
	display:none;
	z-index:1700;
	margin:0px;
	padding:0px;
}

.adspot_btn_logo a {
	background: url(res/logo_tag.png) left top no-repeat;
	width: 76px;
	height: 24px;
	display: block;
	text-indent: -2000em;
	opacity: 0.6;
	cursor: pointer;
}

.adspot_btn_logo a:hover {
	opacity: 1;
}

.adspot_icon_product {
	background-position: -52px top;
	z-index: 1699;
}

.adspot_icon_space {
	background-position: -106px top;
	z-index: 1699;
}

.adspot_icon_link {
	background-position: -78px top;
	z-index: 1699;
}

.adspot_search_btn {
	background-position: -132px top;
	right: 4px;
	top: 20px;
	opacity: 0.8
}

.adspot_search_btn:hover {
	opacity: 1
}


.adspot_layer_info a {
	text-decoration: none;
	font-size: 12px;
	color: #64b02e;
	cursor: pointer;
}

.adspot_layer_info {
	position: absolute;
	display: block;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4), 1px 1px 0
		rgba(255, 255, 255, 0.5) inset, -1px -1px 0 rgba(255, 255, 255, 0.5)
		inset, 1px 1px 0 rgba(0, 0, 0, 0.15), -1px -1px 0 rgba(0, 0, 0, 0.15)
		!important;
	border-radius: 4px;
	font-family: verdana;
	font-size: 12px;
	display: none;
	z-index: 1700;
}

.adspot_layer_inner,.adspot_layer_inner1 {
	background: #f6f6f6;
	border-radius: 4px;
	min-height: 30px;
	width: 240px;
	padding: 6px;
	opacity: 0.96;
	position: relative;
}

.adspot_layer_inner {
	border-radius: 4px 4px 0px 0px
}

.adspot_btn_add_dot {
	background: -moz-linear-gradient(#FEFEFE, #E4E4E4);
	background: -webkit-linear-gradient(#FEFEFE, #E4E4E4);
	height: 26px;
	width: 40px;
	border: 1px solid #aeaeae;
	border-bottom-right-radius: 4px !important;
	left: 0px;
	top: 0px;
	display: none;
}

.adspot_btn_add_clicked {
	background: -moz-linear-gradient(#378301, #55a41c);
	background: -webkit-linear-gradient(#378301, #55a41c);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
	border: 1px solid #317500;
}

.adspot_btn_add_clicked a {
	background-position: -23px top;
}

.adspot_layer_left,.adspot_layer_right {
	float: left;
}

.adspot_layer_right {
	margin-left: 6px;
	font-size: 12px;
	text-align: left;
}

.adspot_layer_info h1 {
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
	margin: 0px 0px 3px 0px;
}

.adspot_layer_right label {
	color: #666;
}

.adspot_layer_left img {
	width: 60px;
	height: 60px;
	border: 1px solid #666;
}

.adspot_layer_price {
	padding: 4px 0px;
}

.adspot_green {
	background: -moz-linear-gradient(center top, #53ca00, #3b8d00);
	background: -webkit-linear-gradient(#53ca00, #3b8d00);
	color: #FFFFFF;
	border: 1px solid #409107;
	text-shadow: 0 -1px rgba(15, 89, 153, 0.4);
	border-radius: 4px;
	padding: 3px 2px;
	margin: 4px 0px 0px 0px;
}

.adspot_green:hover {
	border: 1px solid #286001;
}

.adspot_link h1 a:hover {
	text-decoration: underline;
}

.adspot_link_info {
	font-size: 12px;
	color: #666;
	line-height: 15px;
	margin: 2px 0px;
}

.clear {
	clear: both;
}

.adspot_edit_area {
	position: absolute;
	right: 3px;
	bottom: 3px;
}

.adspot_edit_btn {
	width: 12px;
	height: 12px;
	display: inline-block;
	border: 1px solid #666;
	border-radius: 2px;
	background: -moz-linear-gradient(white, #E8E8E8);
	background: -webkit-linear-gradient(white, #E8E8E8);
	border: 1px solid #D0D0D0;
	line-height: 11px;
	padding: 2px;
	margin-right: 3px;
}

a.adspot_green_btn {
	border: 1px solid #337b00;
	border-radius: 2px;
	background: -moz-linear-gradient(#50be02, #3f9701);
	background: -webkit-linear-gradient(#50be02, #3f9701);
	color: #fff
}

.adspot_edit_btn:hover,.adspot_edit_edit:hover,.adspot_tab1:hover,.adspot_tab2:hover
	{
	background: -moz-linear-gradient(center top, white, #DEDEDE);
	border: 1px solid #a7a7a7;
}

a.adspot_green_btn:hover {
	border: 1px solid #204e00;
	border-radius: 2px;
	background: -moz-linear-gradient(#47ab00, #378500);
	background: -webkit-linear-gradient(#47ab00, #378500);
	color: #fff
}

.adspot_edit_btn i,.adspot_tab1 i,.adspot_tab2 i,.adspot_tab_action i,.adspot_edit_btn i
	{
	width: 12px;
	height: 12px;
	background: url(res/icon_action.png) no-repeat;
	display: inline-block;
}

.adspot_tab1 i,.adspot_tab2 i {
	background-position: left -58px;
	position: absolute;
	left: 28px;
	top: 6px;
}

.adspot_tab2 i {
	background-position: left -87px;
}

a.adspot_tab_selected i {
	background-position: left -72px;
}

.adspot_buy_btn i {
	background-position: left -126px;
}

.adspot_add_btn i {
	background-position: left -112px;
}

a.adspot_tab_selected i.adspot_i2 {
	background-position: left -101px;
}

.adspot_edit_edit i {
	background-position: left -28px;
}

.adspot_tab {
	background: -moz-linear-gradient(#FEFEFE, #E4E4E4);
	background: -webkit-linear-gradient(#FEFEFE, #E4E4E4);
	height: 25px;
	border-radius: 2px;
}

.adspot_tab1,.adspot_tab2 {
	padding: 0 20px 0 50px !important;
	border-radius: 3px 0px 0px 3px;
	font-size: 13px;
	border: 1px solid #CDCDCD;
	display: inline-block;
	height: 23px;
	line-height: 23px;
	text-align: right;
	color: #64b02e;
	position: relative;
}

.adspot_tab2 {
	border-radius: 0px 3px 3px 0px;
}

a.adspot_tab_selected,a.adspot_tab_selected:hover {
	background: -moz-linear-gradient(#378301, #55a41c);
	background: -webkit-linear-gradient(#378301, #55a41c);
	font-weight: bold;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25) inset;
	color: #FFFFFF;
	text-shadow: 0 1px 0 black;
	border: 1px solid #317500;
}

.adspot_tab_con {
	position: relative
}

.adspot_tab_con label {
	font-size: 12px;
	color: #666;
	margin: 8px 0px 4px 0px;
	display: block;
}

.adspot_tab_con input[type="text"],.adspot_tab_con textarea {
	border-radius: 3px;
	width: 232px;
	padding: 4px 2px;
	border: 1px solid #999;
	box-shadow: 0 3px 4px -4px rgba(0, 0, 0, 0.5) inset;
	font-size: 12px;
}

.adspot_tab_con input[type="text"]:focus,.adspot_tab_con textarea:hover
	{
	border: 1px solid #64b02e;
}

.adspot_tab_action {
	border-top: 1px solid #e0e0e0;
	padding: 4px 0px;
	text-align: center;
	background: #fff;
	border-radius: 0px 0px 4px 4px;
}

.adspot_tab_action .adspot_edit_btn {
	width: 48px;
	padding: 4px;
	text-align: center;
}

.adspot_buy_btn,.adspot_add_btn {
	width: 66px;
	padding: 4px 4px 6px 4px;
	text-align: center;
	margin: 4px 0px;
}

.adspot_search_box {
	background: #fff;
	border-top: 1px solid #e0e0e0;
	padding: 0px 0px 0px 6px;
	height: 140px !important;
	overflow-x: hidden !important;
	overflow-y: auto !important;
}

.adspot_search_noresult,.adspot_search_loader {
	font-size: 12px;
}

.adspot_search_loader {
	text-align: center;
}

.adspot_search_image,.adspot_search_info {
	float: left;
}

.adspot_search_image {
	width: 50px;
	height: 50px;
	margin-right: 12px;
}

.adspot_search_info {
	width: 162px;
}

.adspot_search_items,.adspot_search_items li {
	list-style: none;
	color: #666666 !important;
	cursor: pointer !important;
	margin: 0px;
	padding: 0px;
}

.adspot_search_items li {
	min-height: 50px;
	border-bottom: 1px dotted #ccc;
	padding: 6px 0px;
}

.adspot_search_items .adspot_search_item:hover {
	background: #f4f4f4;
}

.adspot_search_items h2 {
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	color: #333;
}

.adspot_search_items p {
	margin: 3px 0px;
}

.adspot_search_item_selected {
	background: #E0E0E0
}
